* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(1fr 1fr 1fr);
  grid-gap: 6px;
  justify-items: center;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 540px;
  align-items: center;
  background-image: url(images/main.jpg);
  background-repeat: no-repeat;
  background-position: center -776px;
  background-size: cover;
}

h1,
h2 {
  width: 50%;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  font-weight: 100;
  text-align: center;
}

h1 {
  margin-top: 158px;
  font-size: 54px;
}

h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 26px;
}

h4 {
  width: 550px;
  height: 50px;
  padding-top: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  text-align: center;
  background-image: url(images/play.png);
  background-repeat: no-repeat;
  background-position: 490px;
  background-size: contain;
}

header a {
  text-decoration: none;
  color: white;
}

nav {
  position: absolute;
  top: 10.3%;
  z-index: 2;
  display: grid;
  width: 70%;
  height: 38px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 9fr;
  grid-column: 1;
  align-items: center;
  justify-items: center;
  border: double 1px #707070;
  border-radius: 4px;
}

nav a,
form {
  height: 36px;
  background: linear-gradient(rgb(158, 157, 157), rgb(97, 94, 94), #8d8c8c);
}

footer a {
  text-decoration: none;
  color: #08c;
}

h4 a:hover {
  border-bottom: solid 1px white;
}

footer a:hover {
  text-decoration: underline;
}

nav a:hover {
  background:
    linear-gradient(
      rgb(97, 96, 96),
      rgb(51, 50, 50),
      rgb(49, 49, 49)
    );
}

nav a:not(#align) {
  width: 100%;
  padding: 12px 1px 1px 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: white;
  border-right: double 1px #8d8c8c;
}

.logo {
  height: 20px;
  margin: -5px 20px;
  content: url(images/apple2.png);
  background-image: url(images/apple2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

input {
  width: 100px;
  height: 19px;
  padding: 5px 5px 5px 5px;
  margin: 10px 29px;
  background: url(images/search-white.svg), #707070;
  background-repeat: no-repeat, no-repeat;
  background-position: 2px 2px;
  border-radius: 12px;
}

input:focus {
  width: 140px;
  padding-left: 20px;
  margin: 8px 9px;
  background: url(images/search-dark.svg), white;
  background-repeat: no-repeat, no-repeat;
  background-position: 2px 2px;
}

.thumbnails {
  display: flex;
  margin-top: -12px;
}

.thumb-1,
.thumb-2,
.thumb-3,
.thumb-4 {
  width: 360px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: 1px 0;
  background-size: cover;
}

.thumb-1 {
  background-image: url(images/thumb-1.jpg);
}

.thumb-2 {
  background-image: url(images/thumb-2.jpg);
}

.thumb-3 {
  background-image: url(images/thumb-3.jpg);
}

.thumb-4 {
  background-image: url(images/thumb-4.jpg);
}

footer {
  display: flex;
  padding-top: 6px;
  align-items: baseline;
}

footer li,
p {
  font-family: "Quicksand", sans-serif;
  font-size: 11px;
  font-weight: lighter;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
}

footer ul li:not(.flag-border) {
  padding-right: 3px;
  padding-left: 3px;
  border-right: 1px solid #ccc;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-left p {
  position: relative;
  display: block;
}

.sub-text {
  display: flex;
}

.terms-border {
  padding: 3px;
  border-right: 1px solid #ccc;
}
