* {
  box-sizing: border-box;
  margin: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(1fr 1fr 1fr);
  grid-gap: 1px;
  justify-items: center;
  position: relative;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -640px;
  width: 1440px;
  height: 688px;
}

h1,
h2 {
  font-family: "Quicksand", sans-serif;
  font: lighter;
  font-weight: 100;
  text-align: center;
  width: 50%;
}

h1 {
  font-size: 54px;
  margin-top: 228px;
}

h2 {
  font-size: 26px;
  margin-top: 25px;
  margin-bottom: 25px;
}

h4 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  background-image: url(images/play.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 490px;
  width: 550px;
  height: 50px;
  padding-top: 10px;
}
header a {
  text-decoration: none;
  color: white;
}

h4 a:hover {
  border-bottom: solid 1px white;
}

nav {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 9fr;
  grid-column: 1;
  align-items: center;
  justify-items: center;
  width: 70%;
  height: 38px;
  border: double 1px #707070;
  border-radius: 4px;
  position: absolute;
  top: 9%;
  z-index: 2;
}

nav a:not(#align) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  padding: 12px 0px 0px 22px;
  color: white;
  width: 100%;
  border-right: double 1px #8d8c8c;
}

nav a:hover {
  background: linear-gradient(
    rgb(97, 96, 96),
    rgb(51, 50, 50),
    rgb(49, 49, 49)
  );
}

.logo {
  content: url(images/apple2.png);
  background-image: url(images/apple2.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  height: 20px;
  margin: -5px 20px;
}

nav a,
form {
  height: 36px;
  background: linear-gradient(rgb(158, 157, 157), rgb(97, 94, 94), #8d8c8c);
}

input {
  border-radius: 12px;
  height: 19px;
  margin: 10px 29px;
  background: url(images/search-white.svg), #707070;
  background-repeat: no-repeat, no-repeat;
  background-position: 2px 2px;
  padding: 5px 5px 5px 5px;
  width: 100px;
  cursor: text;
}

input:focus {
  background: url(images/search-dark.svg), white;
  background-repeat: no-repeat, no-repeat;
  background-position: 2px 2px;
  margin: 8px 9px;
  width: 140px;
  padding-left: 20px;
}

.thumbnails {
  display: flex;
  margin-top: -12px;
}

.thumb-1,
.thumb-2,
.thumb-3,
.thumb-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 1px 0;
  width: 360px;
  height: 200px;
}
.thumb-1 {
  background-image: url(images/thumb-1.jpg);
}
.thumb-2 {
  background-image: url(images/thumb-2.jpg);
}
.thumb-3 {
  background-image: url(images/thumb-3.jpg);
}
.thumb-4 {
  background-image: url(images/thumb-4.jpg);
}

footer {
  display: flex;
  align-items: baseline;
  padding-top: 15px;
}

footer li,
p {
  font-family: "Quicksand", sans-serif;
  font: lighter;
  font-size: 11px;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
}

footer ul li:not(.flag-border) {
  border-right: 1px solid #ccc;
  padding-right: 3px;
  padding-left: 3px;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-left p {
  display: block;
  position: relative;
}
.sub-text {
  display: flex;
}

footer a {
  text-decoration: none;
  color: #08c;
}

footer a:hover {
  text-decoration: underline;
}
.terms-border {
  border-right: 1px solid #ccc;
  padding: 3px;
}
